name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Navigate to the folder
            cd aws-docker-demo
            
            # Pull the latest code from GitHub
            git pull origin main
            
            # Rebuild the Docker Image
            docker build -t my-website .
            
            # Stop the old container (ignore error if none exists)
            docker rm -f $(docker ps -aq) || true
            
            # Start the new container
            docker run -d -p 80:80 my-website
